/*------------------------------------*\
    Skill Icon
\*------------------------------------*/

.skill__icon-container {
  display: grid;
  grid-gap: 1em;
  grid-template-areas:
    "icon"
    "level";

  height: 100px;
}

/* i */.skill__icon {
  grid-area: icon;
  font-size: 5em;
}

@media screen and (max-width: 720px) {
  .skill__icon-container {
    height: 175px;
  }

  .skill__icon {
    font-size: 21vw;
  }
}
