/*------------------------------------*\
    Skill List
\*------------------------------------*/

.skill__list-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 3em;

  padding: 5px;
  margin-top: 20px;
  max-height: 255px;
}

@media screen and (max-width: 920px) {
  .skill__list-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1em;

    min-height: 1400px;
    margin-top: 0px;
  }
}
