/*------------------------------------*\
    Skill List
\*------------------------------------*/

.skill__list-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 3em;
  padding: 5px;
  max-height: 255px;
}

@media screen and (max-width: 720px) {
  .skill__list-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1em;
    min-height: 920px;
  }
}
