/*------------------------------------*\
    Project List
\*------------------------------------*/

.project__list-container {
  display: grid;
  grid-gap: 1em;
  grid-template-rows: repeat(auto-fit, minmax(300px, auto));
}

.project__list-container div {
  background-color: #474747;
}

.project__container {
  padding: 20px;
}

.project__container img {
  max-width: 375px;
  max-height: 375px;
}

.project__container a {
  text-decoration: none;
  font-weight: bold;
  font-size: 24px;
  color: #9DF3C4;
}
