/*------------------------------------*\
    About
\*------------------------------------*/

/* section */.about__section {
  grid-row: 2/7;
  align-self: center;
}

/* section */.about__section a {
  text-decoration: none;
  color: #9DF3C4;
}

@media screen and (max-width: 720px) {
  .about__section {
    grid-row: 5/6;
  }
}
