/*------------------------------------*\
    About
\*------------------------------------*/

/* section */.about__section {
  grid-row: 4/5;
  align-self: center;
}

@media screen and (max-width: 720px) {
  .about__section {
    grid-row: 5/6;
  }
}
