/*------------------------------------*\
    App
\*------------------------------------*/

#app__wrapper {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(3, 1fr);
  grid-template-areas:
    "header main"
    "header main"
    "footer main";
}

header {
  grid-area: header;
}

section {
  grid-area: main;
}

footer {
  grid-area: footer;
  width: 50%;
  align-self: start;
  justify-self: center;
}

@media screen and (max-width: 850px) {
  footer {
    width: 75%;
  }
}

@media screen and (max-width: 720px) {
  #app__wrapper {
    grid-template-areas:
      "header header"
      "footer footer"
      "main main";
  }
}
