/*------------------------------------*\
    Header
\*------------------------------------*/

.header__title {
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-gap: 1em;
  font-size: 65px;
}

.header__description {
  align-self: start;
  justify-self: center;
  width: 80%;
  font-size: 25px;
}
