/*------------------------------------*\
    Header
\*------------------------------------*/

.header__title {
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-gap: 1em;

  font-size: 65px;
}

.header__description {
  display: grid;
  grid-row: auto;
  grid-gap: .1em;
  align-self: start;
  justify-self: center;

  width: 80%;
  font-size: 25px;
}

@media screen and (max-width: 850px) {
  .header__description {
    justify-self: stretch;
  }
}
