/*------------------------------------*\
    Icon
\*------------------------------------*/

/* a */.icon__link {
  text-decoration: none;
  color: #9DF3C4;
}

/* a */.icon__link i:hover::before {
  transform: scale(1.1);
}

/* a */.icon__link i:before {
  display: inline-block;
  transition: 1s all;
}

@media screen and (max-width: 850px) {
  .icon__link {
    margin: 0px 15px;
  }
}
