/*------------------------------------*\
    Index
\*------------------------------------*/

body {
  margin: 0;
  padding: 20px;
  font-family: 'Montserrat', sans-serif;
  font-weight: normal;
  text-align: center;
  background-color: #303030;
  color: #FFF;
}
